{% if page.header.hook %}
	<div class="wrapper style2 evenpart">
		<section class="container">
			<div class="row double">
				<div class="6u">
					<header class="major">
						<h2>{{ header.hook.teaser|raw }}</h2>
						<span class="byline">{{ header.hook.byline|raw }}</span>
					</header>
				</div>
				<div class="6u">
					<div class="{{ (page.header.hook.button.text) ? 'mb-2' }}">
						{{ (text_copy|default(page.content))|raw }}
					</div>
					{% if page.header.hook.button.text %}
						<a href="{{ header.hook.button.url }}" class="button mb-1">{{ header.hook.button.text|raw }}</a>
					{% endif %}
				</div>
			</div>
		</section>
	</div>
{% elseif page.content|trim|length > 0 %}
	{{ dump('Notice: homepage markdown content not rendered because page header "hook" is missing in frontmatter.') }}
{% endif %}
