{% set data_source = data_source|default(page) %}
{% if data_source.header.portals %}
	{% set portals = data_source.header.portals %}
	<div class="wrapper style5 portals">
		<section id="team" class="container">
			<header class="major">
				{% if portals.heading %}
					<h2 class="{{ portals.heading.class }}">{{ portals.heading.text|raw }}</h2>
				{% endif %}
				{% if portals.byline.text %}
					<span class="byline {{ portals.byline.class }}">{{ portals.byline.text|raw }}</span>
				{% endif %}
			</header>
			<div class="row">
				{% for portal in portals.items|slice(0, 4) %}
				<div class="3u">
					<a href="{{ portal.url }}" class="image">
						<img alt="{{ portal.alt|default('') }}" src="{{ data_source.media[portal.thumbnail].resize(162,162).url }}">
					</a>
					<h3>{{ portal.heading|raw }}</h3>
					<p>{{ portal.teaser|raw }}</p>
				</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endif %}