{% if page.header.banner.url %}
<!-- Banner -->
	<div id="banner" class="height-100" style="background-position: {{ page.header.banner.position }}; background-image:url('{{ (base_url) ~ "/" ~ page.header.banner.url }}?fp=4701')">
		<section class="container relative text-center height-100">
			<div class="center-vh width-100">
				{% if page.header.banner.headline %}
					<h2>{{ page.header.banner.headline|raw }}</h2>
				{% endif %}
				{% if page.header.banner.follower|raw %}
				<div>
					<span class="follower {{ page.header.banner.follower.class }}">{{ page.header.banner.follower.text|raw }}</span>
				<div>	
				{% endif %}
				{% if page.header.banner.blurb %}
				<div>
					<span class="blurb {{ page.header.banner.blurb.class }}">{{ page.header.banner.blurb.text|raw }}</span>
				</div>
				{% endif %}
			</div>
		</section>
	</div>
{% endif %}