<div id="footer">
	{% for page in taxonomy.findTaxonomy({'tag':'unique-footer'}) %}
		{% set footer = page.header.social %}

		<section class="container">
			<header class="major">
				<h2>{{ footer.headline|raw }}</h2>
				<span class="byline {{ footer.byline.class }}">{{ footer.byline.text|raw }}</span>
			</header>

			{% if footer.button %}
				<div class="mb-3">
					<a href="{{ footer.button.url }}" class="button button-secondary {{ footer.button.class }}">
						{{ footer.button.text }}
					</a>
				</div>
			{% endif %}

			{% if footer.items %}
				<ul class="icons {% if footer.button %} pt-3 {% endif %}">
				{% for item in footer.items %}
					<li><a href="{{ item.url }}" class="{{ item.icon }}" aria-label="{{ item.title }}"><span>{{ item.title }}</span></a></li>
				{% endfor %}
				</ul>
			{% endif %}

			<hr />
		</section>

		{% for post in taxonomy.findTaxonomy({'tag':'unique-legal'}) %}
			<div id="copyright">
				<a href="{{ post.url ~ footer.legal.credits.id }}">{{ footer.legal.credits.title|e }}</a> | <a href="{{ post.url ~ footer.legal.privacy.id }}">{{ footer.legal.privacy.title|e }}</a> | <a href="{{ post.url ~ footer.legal.notice.id }}">{{ footer.legal.notice.title|e }}</a>
			</div>
		{% endfor %}
	{% endfor %}
</div>
