{% set body_classes = header.body_classes %}
<!-- Base -->
<!DOCTYPE HTML>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
	<title>{{ header.title|e('html') }}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	{% include 'partials/metadata.html.twig' %}

	<link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png?fp=4701') }}" />
	<link rel="canonical" href="{{ page.url(true, true) }}" />

	{% block stylesheets %}
		{% do assets.addCss('theme://fonts/opensans/opensans.css?fp=4701', {group: 'init'}) %}
		{% do assets.addCss('theme://dist/css/main.css?fp=4701', {group: 'init'}) %}
		{# head: blocking scripts #}		
		{{ assets.css('init')|raw }}
		{# head: with loading parameter #}
		{{ assets.css('delay')|raw }}
		{# head: deferred css #}
		<link rel="stylesheet" href="{{ theme_url }}/fonts/fontawesome/font-awesome.min.css?fp=4701" media="print" onload="this.onload=null;this.media='all'">
		<noscript>
			<link rel="stylesheet" href="{{ theme_url }}/fonts/fontawesome/font-awesome.min.css?fp=4701">
		</noscript>
	{% endblock %}

	{% block javascripts %}
		{% do assets.addJs('theme://vendor/js/jquery-1.11.custom.min.js?fp=4701', {group: 'delay', loading: 'defer'}) %}
		{% do assets.addJs('theme://vendor/js/jquery.dropotron.min.js?fp=4701', {group: 'delay', loading: 'defer'}) %}
		{% do assets.addJs('theme://vendor/js/skel.min.js?fp=4701', {group: 'delay', loading: 'defer'}) %}
		{% do assets.addJs('theme://vendor/js/skel-layers.min.js?fp=4701', {group: 'delay', loading: 'defer'}) %}
		{% do assets.addJs('theme://dist/js/scripts.js?fp=4701', {group: 'delay', loading: 'defer', 'data-theme-root': theme_url}) %}
		{# head: blocking scripts #}		
		{{ assets.js('init')|raw }}
		{# head: with loading parameter #}		
		{{ assets.js('delay')|raw }}
	{% endblock %}

{% endblock head %}
</head>

<body class="{{ body_classes }}">

	{% block header %}

		<!-- Header Wrapper -->
		<div class="wrapper style1">

			<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
					<h1><a href="{{ addSlash(home_url) }}" id="logo">{{ site.title }}</a></h1>

					<!-- Nav -->
					<nav id="nav">
						{% include 'partials/navigation.html.twig' %}
					</nav>

				</div>
			</div>

			{% block banner %}{% endblock banner %}

		</div>

	{% endblock header %}

	{% block body %}
		{% block content %}
			{{ page.content|raw }}
		{% endblock content %}
	{% endblock body %}

	{% block footer %}
		{% include 'partials/footer.html.twig' %}
	{% endblock footer %}

	{% block assets deferred %}
		{# plugins: JS / CSS #}
		{{ assets.js()|raw }}
		{{ assets.css()|raw }}
    {% endblock %}

</body>
