{% if page.header.banner %}
<!-- Banner -->
	<div id="banner" class="height-100" style="background-image:url('{{ (base_url) ~ "/" ~ page.header.banner.url }}?fp=04711')">
		<section class="container relative text-center height-100">
			<div class="center-vh width-100">
				<h2>{{ page.header.banner.headline }}</h2>
				{% if page.header.banner.follower %}
				<div>
					<span class="follower {{ page.header.banner.follower.class }}">{{ page.header.banner.follower.text }}</span>
				<div>	
				{% endif %}
				{% if page.header.banner.blurb %}
				<div>
					<span class="blurb {{ page.header.banner.blurb.class }}">{{ page.header.banner.blurb.text }}</span>
				</div>
				{% endif %}
			</div>
		</section>
	</div>
{% endif %}