<!-- Footer -->
	<div id="footer">
		<section class="container">
			<header class="major">
				<h2>{{ site.footer.social.title }}</h2>
				<span class="byline">{{ site.footer.social.byline }}</span>
			</header>
			<ul class="icons">
			{% for item in site.footer.social.items %}
					<li><a href="{{ item.url }}" class="{{ item.icon }}" aria-label="{{ item.title }}"><span>{{ item.title }}</span></a></li>
			{% endfor %}
			</ul>
			<hr />
		</section>

		<!-- Copyright -->
		{% for post in taxonomy.findTaxonomy({'tag':'imprint'}) %}
			<div id="copyright">
				<a href="{{ post.url ~ site.footer.legal.attribution.id }}">{{ site.footer.legal.attribution.title|e }}</a> | <a href="{{ post.url ~ site.footer.legal.privacy.id }}">{{ site.footer.legal.privacy.title|e }}</a> | <a href="{{ post.url ~ site.footer.legal.imprint.id }}">{{ site.footer.legal.imprint.title|e }}</a>
			</div>
		{% endfor %}
	</div>