{% set columns = columns ?: 3 %}
{% set column_units = column_units ?: (12 // columns) %}

{% if page.header.notices %}
{% set notices = page.header.notices %}
<!-- Section Three aka plain aka 'notices' (frontmatter) -->
	<div class="wrapper style4 plain">
		<section class="container">
			<header class="major pb-2">
				<h2>{{ notices.heading }}</h2>
				<span class="byline">{{ notices.byline }}</span>
			</header>
				<div class="clearfix">
					<ul class="special-icons grid-default">
					{% for item in notices.items %}
						<li class="special-icons-{{ loop.index }}">
							<span class="fa {{ item.icon }}"></span>
							<h3>{% spaceless %}
								{% if item.target %}
									<a href="{{ item.target }}">{{ item.heading }}</a>
								{% else %}
									{{ item.heading }}
								{% endif %}
							{% endspaceless %}</h3>
							<p>{{ item.point }}</p>
						</li>
					{% endfor %}			
					</ul>
				</div>
		</section>
	</div>
{% endif %}
