{% extends 'partials/base.html.twig' %}

{% block body %}
  {% set language = grav.language %}
  {% set lang = language.enabled ? (language.active ?: language.default) : null %}
  {% set count = 1 %}

<!-- Main -->
<div id="main" class="wrapper style4 plain">
  <!-- Content -->
  <div id="content" class="container">
    <section>
      {% include 'partials/heading.html.twig' %}

      <!-- Sitemap -->
      {% import 'macros/loop.html.twig' as macros %}

        <div class="sitemap">
            <ul>
                {% if config.theme.dropdown.enabled %}
                    {{ macros.loop(pages) }}
                {% else %}
                    {% for page in pages.children.visible %}
                        {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                        <li class="{{ current_page }}">
                            <a href="{{ page.url }}">
                                {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                                {{ page.menu }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
                {% for mitem in site.menu %}
                    <li>
                        <a href="{{ mitem.url }}">
                            {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                            {{ mitem.text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </section>
  </div>
</div>
{% endblock body %}