{% extends 'partials/base.html.twig' %}

{% block content %}
  {% set language = grav.language %}
  {% set lang = language.enabled ? (language.active ?: language.default) : null %}
  {% set count = 1 %}

{% block body %}
<!-- Main -->
<div id="main" class="wrapper style4 plain">
  <!-- Content -->
  <div id="content" class="container">
    <section>
      {% include 'partials/heading.html.twig' %}

      <!-- Sitemap -->
      <table class="sitemap">
        <thead class="bold">
          <tr>
            <th>{{ 'PLUGIN_SITEMAP.TITLE_TITLE'|t|e }}</th>
            <!--
            <th>{{ 'PLUGIN_SITEMAP.TITLE_LOCATION'|t|e }}</th>
            -->
            <th>{{ 'PLUGIN_SITEMAP.TITLE_LASTMOD'|t|e }}</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in sitemap %}
          {% if lang is null or entry.lang == lang %}
          <tr>
            <td><a href="{{ entry.location }}">{{ entry.title ?: 'PLUGIN_SITEMAP.UNTITLED'|t|e }}</a></td>
            <!--
            <td><a href="{{ entry.location }}">{{ entry.location }}</a></td>
            !-->
            <td>{{ entry.lastmod }}</td>
          </tr>
          {% set count = count + 1 %}
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
</div>
{% endblock body %}

{% endblock %}