{% for module in page.collection('links') %}
	{% for item in module.header.items %}
		<section>
			{% if item.headline %}
				<header class="major">
					<h2>{{ item.headline|raw }}</h2>
				</header>
			{% endif %}

			{% if item.description %}
				<p>{{ item.description|raw }}</p>
			{% endif %}

			<ul class="default {{ item.class }}">
				{% for link in item.links %}
					<li>
						{% if link.url %}
							<a href="{{ getUrl(link.url) }}">{{ link.text|raw }}</a>
						{% else %}
							<span class="italic">{{ link.text|raw }}</span>
						{% endif %}
						<br>{{ link.description|raw }}
					</li>
				{% endfor %}
			</ul>
		</section>
	{% endfor %}
{% endfor %}
