<!-- Links Sidebar -->
{% for sidebar in page.header.sidebars.links %}
	{% set front = page.find('/components/links/' ~ sidebar).header %}
	<section>
		<header class="major">
			<h2>{{ front.title|raw }}</h2>
		</header>

		<ul class="default {{ front.class }}">
			{% for link in front.links %}
				<li>
					{% if link.url %}
						<a href="{{ getUrl(link.url) }}">{{ link.text|raw }}</a>
					{% else %}
						<span class="italic">{{ link.text|raw }}</span>
					{% endif %}
					<br>{{ link.description|raw }}
				</li>
			{% endfor %}
		</ul>
	</section>
{% endfor %}
