{% set columns = columns ?: 3 %}
{% set column_units = column_units ?: (12 // columns) %}
{% if page.header.notices %}
{% set notices = page.header.notices %}
	<div class="wrapper style4 plain">
		<section class="container">
			<header class="major pb-2">
				<h2>{{ notices.heading|raw }}</h2>
				<span class="byline">{{ notices.byline|raw }}</span>
			</header>
				<div class="clearfix">
					<ul class="special-icons grid-default">
					{% for item in notices.items %}
						<li class="special-icons-{{ loop.index }}">
							<span class="fa {{ item.icon }}"></span>
							<h3>{% spaceless %}
								{% if item.url %}
									<a href="{{ item.url }}">{{ item.heading|raw }}</a>
								{% else %}
									{{ item.heading|raw }}
								{% endif %}
							{% endspaceless %}</h3>
							<p>{{ item.point|raw }}</p>
						</li>
					{% endfor %}			
					</ul>
				</div>
		</section>
	</div>
{% endif %}
